h2 Здравствуйте!

p Обновление статусов заказов вашего магазина #{@shop.name} не удалось по причине ошибки в теле запроса.
p Описание ошибки: #{@message}

p Исправьте содержимое посылаемого запроса и перешлите его еще раз.

= render 'shared/errors_mailer_footer'
