p Dear owner of #{link_to @shop.name, @shop.url} online store!

p We are sorry to tell you, we have not been able to load your XML Product Feed for 5 days.

p Please check the link to the XML-file you provided in your #{link_to 'personal account', "#{Rees46.site_url}/shops/#{@shop.id}/edit"} on rees46.com.

p If, by the time your receive this letter, you have already made your XML-file available or corrected the URL to it, just ignore the message.

= render 'shared/errors_mailer_footer'
