production:
  adapter: postgresql
  encoding: unicode
  database: rees46_production
  pool: 5
  username: rees46
  password: rees46
  host: localhost
  port: 5432
  timeout: 5000

production_slave:
  adapter: postgresql
  encoding: unicode
  database: rees46_production
  pool: 5
  username: rees46
  password: rees46
  host: localhost
  port: 5432
  timeout: 5000

production_clickhouse:
  adapter: postgresql
  encoding: unicode
  database: rees46_clickhouse
  pool: 5
  username: rees46
  password: rees46
  host: localhost
  port: 5432
  timeout: 5000

production_clickhouse_slave:
  adapter: postgresql
  encoding: unicode
  database: rees46_clickhouse
  pool: 5
  username: rees46
  password: rees46
  host: localhost
  port: 5432
  timeout: 5000

development:
  adapter: postgresql
  encoding: unicode
  database: rees46_development
  pool: 5
  username:  <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  host: localhost
  port: 5432
  timeout: 5000

development_slave:
  adapter: postgresql
  encoding: unicode
  database: rees46_development
  pool: 5
  username:  <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  host: localhost
  port: 5432
  timeout: 5000


development_clickhouse:
  database: rees46_clickhouse
  host: localhost
  username:  <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  adapter: postgresql
  encoding: unicode
  pool: 50
  timeout: 5000
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: rees46_test
  pool: 5
  username:  <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  host: localhost
  port: 5432
  timeout: 5000

test_clickhouse:
  database: rees46_clickhouse_test
  host: localhost
  adapter: postgresql
  username: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  port: 5432
  timeout: 5000
  pool: 5

test_clickhouse_slave:
  database: rees46_clickhouse_test
  host: localhost
  adapter: postgresql
  username: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASSWORD'] %>
  port: 5432
  timeout: 5000
  pool: 5
