development:
  secret_key_base: 26a7f8d92f6518b591d3ebc22f6cf8dc3c5762d9bae03b97ecae3a8512a3dc0d173161f9433287f906ae5555fc41820a4ce873d9aa0ba4ec474c4f682b471273
  rollbar_access_token: 8b197bc247a844278f109dbd06ad2e66
  newrelic_project_id: REES46 API DEV
  newrelic_license_key: 729573fc846663103f36f53035b20007d33fb281
  dkim_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIICWwIBAAKBgQDyLyzxUpz37+S9QJ8NfdTE27kSsY7K9P5L3fRYak0tskRyhh0i
    ifrlHYSeKhMO+YfsvVoCUm3yPugJ0xmt7iadWcXpZWw7Y5ebV+xacwcysEUKqp6w
    DFLTpHNnBlxKLAlWNXuoltr4cfwNTBzeYP63amHyBHAZFuQdBOVLbG8G1wIDAQAB
    AoGAM6wrG6YzxZbSqCqEhR1m60WyPDHUNKuHImrN+ptbsjdJ8WF6D+d+t6nPpOt3
    O4e0H6fa74nk2X3ghlAbN4gLhrbbs7pt8CtAqEPzI7ahOvykxX5tRbkImzxC+RYJ
    L6fqAwcd210ic94JvCaQ/m0zyTItXpWQJJxjUDv4vr/iHRECQQD+yPeATsGj2eVF
    tDOXPXhqV9VRW3z8LJHyilxUDmLrGgSFlnYjuuHr+dBgHOcI7rO7jHxa/P657F+L
    luMc+i7fAkEA81bTgFq0Z3acqrxEoalK//CTFOxYBW7qenOlFlV9DCQMCpOgWjra
    qnLm0Gg65Y+O/SBl/dX/00G6vaHExbW/CQJAEzF+e5rzOW2ruOGHVWhbDt/JART8
    SF7vK69Cn05qIz3Vg16/TZfBdy5dhTAIM4MP5RwDLjOK2OS2meRm/YLXTwJAVhje
    dIejVQgunmpGjjxsAOqJ39lPu3xnEjRgsOpGeEk4yXU6QzKXs78703lNfXOxz/Xq
    oElbXs/e1sGp8ZpAoQJAAjXCyDv8/ISOOZqQD/+e1miqCHec/kTKpk8cuS5DWilV
    pd+AD6weJvXL4AqQ4CSpXJO31v4+A5rdFmWAWr5n+g==
    -----END RSA PRIVATE KEY-----
  mailru_fbl_password: secret
  google_cloud_messaging_key: secret
  slack_notify_key: secret
  bunny_host: localhost
  bunny_user: rees46
  bunny_password: secret
  bounced_email_host: secret
  bounced_email_user: secret
  bounced_email_pass: secret
  fbl_email_host: secret
  fbl_email_user: secret
  fbl_email_pass: secret
  fbl_secret_key: secret
  elastic_protocol: http
  elastic_host: 127.0.0.1
  elastic_port: 32769
  elastic_user: elastic
  elastic_pass: changeme


test:
  secret_key_base: 7a518d587a78ceca410e8e31705034981f1e7bd82ecf247711884920cc243bd40370d0f11d51f5655c0eefae55e03c7e29ae9ed10e9e184043f0ef31d3b24875
  rollbar_access_token: 8b197bc247a844278f109dbd06ad2e66
  newrelic_license_key: 729573fc846663103f36f53035b20007d33fb281
  newrelic_project_id: REES46 API TEST
  dkim_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIICWwIBAAKBgQDyLyzxUpz37+S9QJ8NfdTE27kSsY7K9P5L3fRYak0tskRyhh0i
    ifrlHYSeKhMO+YfsvVoCUm3yPugJ0xmt7iadWcXpZWw7Y5ebV+xacwcysEUKqp6w
    DFLTpHNnBlxKLAlWNXuoltr4cfwNTBzeYP63amHyBHAZFuQdBOVLbG8G1wIDAQAB
    AoGAM6wrG6YzxZbSqCqEhR1m60WyPDHUNKuHImrN+ptbsjdJ8WF6D+d+t6nPpOt3
    O4e0H6fa74nk2X3ghlAbN4gLhrbbs7pt8CtAqEPzI7ahOvykxX5tRbkImzxC+RYJ
    L6fqAwcd210ic94JvCaQ/m0zyTItXpWQJJxjUDv4vr/iHRECQQD+yPeATsGj2eVF
    tDOXPXhqV9VRW3z8LJHyilxUDmLrGgSFlnYjuuHr+dBgHOcI7rO7jHxa/P657F+L
    luMc+i7fAkEA81bTgFq0Z3acqrxEoalK//CTFOxYBW7qenOlFlV9DCQMCpOgWjra
    qnLm0Gg65Y+O/SBl/dX/00G6vaHExbW/CQJAEzF+e5rzOW2ruOGHVWhbDt/JART8
    SF7vK69Cn05qIz3Vg16/TZfBdy5dhTAIM4MP5RwDLjOK2OS2meRm/YLXTwJAVhje
    dIejVQgunmpGjjxsAOqJ39lPu3xnEjRgsOpGeEk4yXU6QzKXs78703lNfXOxz/Xq
    oElbXs/e1sGp8ZpAoQJAAjXCyDv8/ISOOZqQD/+e1miqCHec/kTKpk8cuS5DWilV
    pd+AD6weJvXL4AqQ4CSpXJO31v4+A5rdFmWAWr5n+g==
    -----END RSA PRIVATE KEY-----
  google_cloud_messaging_key: secret
  mailru_fbl_password: secret
  google_cloud_messaging_key: secret
  slack_notify_key: secret
  bounced_email_host: secret
  bounced_email_user: secret
  bounced_email_pass: secret
  fbl_email_host: secret
  fbl_email_user: secret
  fbl_email_pass: secret
  fbl_secret_key: secret
  elastic_protocol: http
  elastic_host: 127.0.0.1
  elastic_port: 32769
  elastic_user: elastic
  elastic_pass: changeme
