defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

production:
  master:
    database: master_database
    host: localhost
    port: 6666
    username: master_shard_user_name
    password: ******
    <<: *defaults
