defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  port: 5434

production:
  master:
    database: master_database
    host: localhost
    username: <%= ENV['PG_USER'] %>
    password: <%= ENV['PG_PASSWORD'] %>
    <<: *defaults

test:
  master:
    database: master_database
    host: localhost
    username: <%= ENV['PG_USER'] %>
    password: <%= ENV['PG_PASSWORD'] %>
    <<: *defaults

